FoamFile
{
    version     2.3;
    format      ascii;
    class       dictionary;
    object      physicalProperties;
}
// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //

// 陽イオンの電荷
e               1.60217663e-19;

// 陽イオンの質量
// H: 1.672621898e-27
// H2: 3.34e-27
m               3.34e-27;

// サイクロトロン周波数
f               3.5e6;

// Dee電極の電圧
V               100;
// フィラメントの平均の電位
Vf              -6;
// フィラメントの両端の電位差
Vi              12;
// 検出器の電圧
Vc              -10;

// シミュレーションする磁場の最小値
Bmin            0;
// シミュレーションする磁場の最大値
Bmax            0.3;
// シミュレーションする磁場のステップ
Bstep           0.01;

// 軌道の出力をするか
trajectory      false;

// 非一様補正を行うか
corrected       true;
// 半径方向の非一様補正
Br              10.1;
// 鉛直方向の非一様補正
Bz              4.7;

// ************************************************************************* //
