*
!*/
!.gitignore
!Allrun*
!Allclean
!system/controlDict
!system/fvSchemes
!system/fvSolution
!system/meshDict
!0/*
!*.scad
!test/system/*
!test/constant/physicalProperties
!electrostaticFoam_P/createFields.H
!electrostaticFoam_P/electrostaticFoam.C
!electrostaticFoam_P/Make/files
!electrostaticFoam_P/Make/options
cases
